<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheets" href="../public/stylesheets/stylesheets.css">
</head>
<body>
    <h1>Zendaya</h1>
    <p>Zendaya Maree Stoermer Coleman (Oakland, 1 de setembro de 1996),
    conhecida como Zendaya, é uma atriz, cantora e compositora norte-americana, 
    que ganhou notoriedade por seus trabalhos no Disney Channel, 
    como Rocky Blue na série Shake It Up (2010-2013) e K.C. Cooper em K.C. Undercover (2014-2018). 
    No cinema, Zendaya ganhou destaque por interpretar Michelle Jones nos filmes do Homem-Aranha do 
    Universo Cinematográfico Marvel, Anne Wheeler no filme musical The Greatest Showman (2017) e 
    Chani no filme distópico Dune (2021). Em 2019, recebeu aclamação da crítica por interpretar 
    Rue Bennett na série Euphoria, da HBO, pela qual ganhou um Prêmio Emmy na categoria de melhor 
    atriz em série dramática em 2020, repetindo o prêmio também no ano de 2022.</p>    
</body>
</html>