<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Zendaya</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <h1>Zendaya</h1>
    <p>Zendaya Maree Stoermer Coleman, conhecida como Zendaya, é uma atriz, cantora e 
    compositora norte-americana, que ganhou notoriedade por seus trabalhos no Disney Channel, 
    como Rocky Blue na série Shake It Up e K.C. Cooper em K.C. Undercover.</p>
    <h2>Idade:</h2>    
    <p>26 anos (Nascida em 1 de setembro de 1996, na cidade de Oakland, Califórnia, EUA)</p>
</body>
</html>