<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zendaya Works</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <h1>Works</h1>
    <h2>Cinema Movies:</h2>   
    <p>2017 - Spider-Man: Homecoming</p>
    <p>2017 - The Greatest Showman</p>
    <p>2019 - Spider-Man: Far from Home</p>
    <p>2021 - Dune</p>
    <p>2021 - Spider-Man: No Way Home</p>
    <h2>Series:</h2>
    <p>2010–2013 - Shake It Up</p>
    <p>2011 - Good Luck Charlie</p>
    <p>2011 - PrankStars</p>
    <p>2012 - A.N.T. Farm</p>
    <p>2013 - Dancing with the Stars</p>
    <p>2013 - America's Next Top Model</p>
    <p>2014 - Under the Gunn</p>
    <p>2015-2018 - 	K.C. Undercover</p>
    <p>2015 - Black-ish</p>
    <p>2017 - Walk the Prank</p>
    <p>2019 - The OA</p>
    <p>2019 - Euphoria</p>

</body>
</html>